{{#if show}}
<div class="weather">
  <p>{{location}}</p>
  <p>Current temperature of {{temperature}}ºC</p>
  <p>{{precipProb}}% Probaility of rain</p>
  <p>Current forecast is {{summary}}</p>
</div>
{{/if}}